*_clone_[0-9]*/
WebServer/node_modules/
Bearlike Project/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_0_0.bundle
Bearlike Project/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_0_0.so
Bearlike Project/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_0_0.so.meta
Bearlike Project/ProjectSettings/GvhProjectSettings.xml
