<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Api.Gax" version="4.4.0" />
  <package id="Google.Api.Gax.Rest" version="4.4.0" />
  <package id="Google.Apis" version="1.66.0" manuallyInstalled="true" />
  <package id="Google.Apis.Auth" version="1.66.0" manuallyInstalled="true" />
  <package id="Google.Apis.Core" version="1.66.0" />
  <package id="Google.Apis.Storage.v1" version="1.63.0.3206" />
  <package id="Google.Cloud.Storage.V1" version="4.7.0" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" />
  <package id="System.CodeDom" version="7.0.0" />
  <package id="System.Management" version="7.0.2" />
</packages>